body {
  padding: 40px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.home-link {
  display: block;
  margin-bottom: 40px;
}

.practice-item:not(:last-child) {
  margin-bottom: 5px;
}
